extends layout

block details
	p
		|Jillian Zhong is a programmer, artist, and content creator based in New York and Philly.
		br
		br
		|This site was made using node.js, express, jade, and p5.
		br
		br

	p
		|<strong>Press</strong>
		br
		br
		a(href='http://bust.com/entertainment/18608-10-feminist-memes.html', target='_blank') BUST '10 Feminist Meme Accounts You Need In Your Newsfeed'
		br
		br
		a(href='http://thecreatorsproject.vice.com/blog/saving-computer-based-art-conservation-lab', target='_blank') The Creators Project 'The Race to Save Computer-Based Art'
		br
		a(href='https://www.guggenheim.org/blogs/checklist/how-the-guggenheim-and-nyu-are-conserving-computer-based-art-part-1', target='_blank') Guggenheim 'How the Guggenheim and NYU Are Conserving Computer-Based Art—Part 1'
