extends index

block details
	div
		img(src='../images/apps/hlmhlmnthumbnails.png')
		p
			|He Loves Me He Loves Me Not (2016)
			br
			|Unity3D with C#, 
			a(href='https://play.google.com/store/apps/details?id=com.jzhong.helovesmehelovesmenot', target='_blank') released on Google Play Store for Android
		p
			|A short piece exploring the digital and the organic, rituals in the modern day, and the app as a medium.
