extends layout

block details
	div
		p
			img(src='../images/apps/hlmhlmnthumbnails.png')
		p
			|He Loves Me He Loves Me Not (2016)
			br
			|Unity3D with C#, 
			a(href='https://play.google.com/store/apps/details?id=com.jzhong.helovesmehelovesmenot', target='_blank') released on Google Play Store for Android
		p
			|A short piece exploring the digital and the organic, rituals in the modern day, and the app as a medium.
			br
			a(href='https://www.youtube.com/watch?v=aLBBdD78yoU&t=58s', target='_blank') Screen recording demo

		br
		br
		br

		p
			img(src='../images/apps/subwaymaze.png')
			br
			|Subway Maze (2015)
			br
			|Unity3D with C#
		p
			|A surreal, atmopshere-based maze through the subway tunnels.
		div
			iframe(frameborder="0", src="https://itch.io/embed/31843?link_color=999999", width="100%", height="120")

		br
		br
		br

		p
			img(src='../images/apps/islandgen.png')
			br
			|Island Gen (2015)
			br
			|Unity3D with C#
		p
			|Procedural generator for island designs.
		div
			iframe(frameborder="0", src="https://itch.io/embed/31966?link_color=999999", width="100%", height="120")
		
		br
		br
		br

		p
			img(src='../images/apps/textadventure.png')
			br
			|Text Adventure (2015)
			br
			|Unity3D with C#
		p
			|A text-based adventure game inspired by Alice in Wonderland.
		div
			iframe(frameborder="0", src="https://itch.io/embed/30455?link_color=999999", width="100%", height="120")

		br
		br
