doctype html
html
	head
		title= 'Jillian Zhong'
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet')
		script(src="../javascripts/p5.js")
		script(src="../javascripts/p5.dom.js")
		script(src='../javascripts/sketch.js')
	body
		div#sketch
		div.background
			div.logo
				a(href='/')
					img(src='../images/3.gif', height='80px')
			div.navi
				a(href='/contact') Contact
				br
				a(href='https://github.com/jirrian', target='_blank') Github
				br
				a(href='http://blog.jzhong.today/', target='_blank') ITP Blog
				br
				a(href='http://shop.jzhong.today/', target='_blank') Store
				br
				a(href='/press') Press
			div.wrapper
				block details
