extends layout

block details
	div
		p
			img(src='../images/misc/memes.png')
		p
			|@ada.wrong (2016-)
			br
			a(href='https://www.instagram.com/ada.wrong/', target='_blank') Instagram meme account
			|  appropriating the meme medium, online it-girls, and internet oversharing to discuss issues dealing with identity politics including race, feminism, gender, and intersectionality.

			br
			br
			br

		div.h_iframe
			iframe(width="2" height="400" src="https://www.youtube.com/embed/qmFmRIzuepg",frameborder="0",allowfullscreen)
		p
			|sosadtoday (2016)
			br
			|Video project on various levels of alienation.

			br
			br
			br

		img(src='../images/misc/drinkad.png')
		p
			|Drink Ad (2016)
			br
			|Juxtaposed paparazzi photographs creating a flat, yet flashy image inspired by the Kim Kardashian Midori Sour advertisement.
