extends index

block details
	div
		p
			img(src='../images/photos/img013.jpg')
			img(src='../images/photos/img012.jpg')
			img(src='../images/photos/img008.jpg')
		
		br
		br
		br

		p
			img(src='../images/photos/img038.jpg')
			img(src='../images/photos/img042.jpg')
				
		br
		br
		br

		p
			img(src='../images/photos/flea2.jpg')
			img(src='../images/photos/flea3.jpg')
			img(src='../images/photos/flea1.jpg')

		br
		br
		br

		p
			img(src='../images/photos/k.jpg')
			img(src='../images/photos/candb.jpg')

		br
		br
		br

		p
			img(src='../images/photos/ba1.jpg')
			img(src='../images/photos/ba2.jpg')
		
