div.content
	img(src='../images/portfolio/privatebeach_shelldetail.png')
	img(src='../images/portfolio/privatebeach_users.png')
	br
	br
	<strong>Private Beach (2017)</strong>
	br
	|Arduino and p5 visualization
	br
	|Installation exploring intersections of private vs. public spaces and individual experiences within a collective experience.
	br
	a(href='http://blog.jzhong.today/pcomp/Intro-to-PComp-Midterm/', target='_blank') Blog post with project documentation
