div.content
	img(src='../images/misc/adawrong.png')
	br
	br
	<strong>@ada.wrong (2016-)</strong>
	br
	a(href='https://www.instagram.com/ada.wrong/', target='_blank') Instagram meme account
	|  appropriating the meme medium, online it-girls, and internet oversharing to discuss issues dealing with identity politics including race, feminism, gender, and intersectionality.

	br
	img(src='../images/misc/getartistspaidvice.png')
	br
	|Two memes were created for 
	a(href='https://www.instagram.com/getartistspaid/', target='_blank') Get Artists Paid's
	| 
	a(href='https://medium.com/@getartistspaid/get-artists-paid-our-definitive-guide-to-enlightening-information-on-vice-media-b8d7d97ff4cf', target='_blank') March 2017 strike on Vice Media.
	br
	br
	img(src='../images/misc/toteoverview.png')
	br
	br
	|A tote bag designed to translate a meme into a physical format. 
	a(href='http://adawrong.bigcartel.com/', target='_blank') Made available for sale.

