div.content
	div.h_iframe
		iframe(width="2" height="400" src="https://player.vimeo.com/video/245221449",frameborder="0",allowfullscreen)

	br
	<strong>someone brand new ft. ammi music video (2017)</strong>
	br
	|Collaboration with Haiyi Huang
	br
	|Music Visualization for 
	a(href='https://soundcloud.com/fairywyng/sets/sweet-16-ep', target='_blank') someone brand new by fi (ft. ammi) from the sweet 16 EP