extends layout

block details
	include ./about.jade
	include ./portfolio_adawrong.jade
	include ./photos_home.jade
	include ./photos_neworleans.jade
	include ./portfolio_helovesmehelovesmenot.jade
	include ./portfolio_subwaymaze.jade
	include ./photos_bwholgafriends.jade
	include ./photos_bwholgaargentina.jade