div.content
	img(src='../images/apps/hlmhlmnthumbnails.png')
	br
	br
	<strong>He Loves Me He Loves Me Not (2016)</strong>
	br
	|Unity3D with C#, 
	a(href='https://play.google.com/store/apps/details?id=com.jzhong.helovesmehelovesmenot', target='_blank') released on Google Play Store for Android
	br
	|A short piece exploring the digital and the organic, rituals in the modern day, and the app as a medium.
	br
	a(href='https://www.youtube.com/watch?v=aLBBdD78yoU&t=58s', target='_blank') Screen recording demo

