div.content
	img(src='../images/portfolio/meteor_both_front.jpg')
	br
	br
	<strong>Meteor Glasses (2017)</strong>
	br
	|Acrylic lenses, stainless steel bridge, and high nickel alloy temples
	br
	a(href='instagram.com/shop.jzhong', target='_blank') Brand Instagram

